# Exclude Pi-hole data and sensitive files
etc-pihole/*.db
etc-pihole/*.db-shm
etc-pihole/*.db-wal
etc-pihole/pihole.toml
etc-pihole/config_backups/
etc-pihole/cli_pw
etc-pihole/*.log
etc-pihole/tls.pem
etc-pihole/tls.crt
etc-pihole/tls_ca.crt

# Exclude other sensitive data
etc-pihole/setupVars.conf
etc-pihole/adlists.list
